<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
Admin panel
<%= link_to('deployed to Heroku', 'http://NNNNNNNNNNNNNNNNNNNNN.herokuapps.com/') %>
from <%= link_to('h', 'http://github.com/JuPlutonic') %>.
</p>
